body{
    background: rgb(255,23,0);
    background: linear-gradient(270deg, rgba(255,23,0,1) 0%, rgba(0,232,255,1) 100%);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.title h1{
    font-size: 50px;
    text-align: center;
    text-shadow: 4px 4px 5px black;
    color: rgb(221, 214, 214);
    margin-top: 10%;
    margin-bottom: 5%;

}

.Converter{
    font-size: 22px;
    color: rgb(221, 214, 214);
    text-shadow: 4px 4px 5px black;
    margin-bottom: 10%;
    text-align: center;
    background-color: grey;
    padding-bottom: 6%;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 2%;
}

.temperature {
    padding-top: 10%;
    margin-bottom: 5%;
}

.measurementAttempt{
    margin-bottom: 5%;
    
}
.conversionAttempt {
    margin-bottom: 5%;
}

.buttonConverter{
    text-align: center;
    margin-bottom: 5%;
}

@media (max-width: 567px){
    .measurementAttempt{
        margin-bottom: 10%;
    }
    .conversionAttempt {
        margin-bottom: 10%;
    }
}